*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(rgba(0,0,0,.9),rgba(0,0,0,0.9)),url(rainbow-village.jpg);
    background-size: cover;
    position: relative;
}
.container{
    height: 100vh;
 display: flex;
 justify-content: space-around;
    align-items: center;
    margin:auto;
}

img{
    width: 41%;
    transition: 800ms;
     filter: grayscale(100%);
}
img:hover{
    display: flex;
    
  
    
    width: 47%;
    filter: grayscale(0%);
    
}